.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  line-height: 1.5;
  font-size: 14px;
  word-wrap: break-word;

  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    color: var(--classF);
  }

  h1 {
    margin: .67em 0;
    font-size: 32px;
    font-size: 2em;
  }

  h2 {
    font-size: 24px;
    font-size: 1.5em;
  }

  h3 {
    font-size: 20px;
    font-size: 1.25em;
  }

  h4 {
    font-size: 16px;
    font-size: 1em;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 14px;
    color: #6a737d;
    font-size: .85em;
  }


  h1,
  h2 {
    font-weight: 600;
    padding-bottom: .3em;
    line-height: 1.25;
    border-bottom: 1px solid var(--classE);
  }

  h4,
  h5,
  h6 {
    line-height: 1.2;
  }

  p {
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.5;
    font-size: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
  }

  .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;

    &:focus {
      outline: none;
    }
  }

  details {
    display: block;

    summary {
      cursor: pointer;
    }
  }

  summary {
    display: list-item;
  }

  a {
    background-color: transparent;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:not([href]) {
      color: inherit;
      text-decoration: none;
    }
  }

  strong {
    font-weight: inherit;
    font-weight: bolder;
    font-weight: 600;
  }

  img {
    border-style: none;
    box-sizing: content-box;
    max-width: 100%;
  }

  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background-color: #e1e4e8;
    border: 0;
    height: .25em;
    margin: 24px 0;
    padding: 0;
    border-bottom-color: #eee;

    &:before {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }

  input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    overflow: auto;

    th {
      font-weight: 600;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;

      &:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }
  }

  blockquote {
    margin: 0;
    color: #6a737d;
    padding: 0 1em;
    border-left: .25em solid #dfe2e5;

    &> :first-child {
      margin-top: 0;
    }

    &> :last-child {
      margin-bottom: 0;
    }
  }

  dd {
    margin-left: 0;
  }

  .markdown-content pre {
    margin-top: 0;
    word-wrap: normal;
    white-space: pre;
    word-break: break-word;

    &>code {
      border: 0;
      font-size: 100%;
      margin: 0;
      padding: 0;
      white-space: inherit;
      word-break: break-word;
    }

    code {
      display: inline;
      line-height: inherit;
      margin: 0;
      overflow: visible;
      padding: 0;
      border: 0;
      color: var(--classF);
      word-wrap: normal;
      white-space: inherit;
      word-break: break-word;
      background-color: transparent;
    }
  }

  li {
    word-wrap: break-all;

    &>p {
      margin-top: 12px;
    }

    &+li {
      margin-top: .25em;
    }
  }

  dl {
    padding: 0;

    dt {
      font-size: 1em;
      font-style: italic;
      font-weight: 600;
      margin-top: 16px;
      padding: 0;
    }

    dd {
      margin-bottom: 16px;
      padding: 0 16px;
    }
  }

  img[align=right] {
    padding-left: 20px;
  }

  img[align=left] {
    padding-right: 20px;
  }

  code {
    margin: 0;
    padding: .2em .4em;
    font-size: 85%;
    color: #666;
    color: var(--routine);
    background-color: #ebebeb;
    background-color: var(--classA);
    border-radius: 3px;
  }

  .highlight {
    margin-bottom: 16px;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  ol,
  ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-left: 2em;
    list-style: auto;
    color: var(--routine);
  }

  .markdown-body td,
  .markdown-body th {
    padding: 0;
  }

  ol ol,
  ul ol {
    list-style-type: lower-roman;
  }

  ol ol ol,
  ol ul ol,
  ul ol ol,
  ul ul ol {
    list-style-type: lower-alpha;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  blockquote,
  dl,
  ol,
  p,
  pre,
  table,
  ul {
    margin-bottom: 10px;
    margin-top: 0;
  }

  ul {
    list-style: disc;
  }

  ol ol,
  ol ul,
  ul ol,
  ul ul {
    margin-bottom: 0;
    margin-top: 0;
  }

  table td,
  table th {
    border: 1px solid #dfe2e5;
    padding: 6px 12px;
  }

}

// .markdown-content {
// }

.markdown-body,
.markdown-content {

  pre,
  code {
    // font-size: 1em;
    font-size: 12px;
  }

  .highlight pre,
  pre {
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 12px;
    background-color: #ebebeb;
    background-color: var(--classA);
    border-radius: 3px;
  }


}