<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.blog.mapper.ArticleCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.blog.model.entity.ArticleCategory">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="category_id" property="categoryId"/>
        <result column="article_id" property="articleId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , create_time, update_time, category_id, article_id
    </sql>

    <select id="selectPostCount" resultType="com.qinweizhao.blog.model.projection.CategoryPostCountProjection">
        select category_id, count(article_id) as article_count
        from article_category ac
        group by ac.category_id
    </select>

    <select id="selectSetCategoryIdsByarticleId" resultType="java.lang.Integer">
        select ac.category_id
        from article_category ac
        where ac.article_id = #{articleId}
    </select>

    <select id="selectsetArticleIdByCategoryIdAndPostStatus" resultType="java.lang.Integer">
        select ac.article_id
        from article_category ac
                 left join
             article a
             on ac.article_id = a.id
        where ac.category_id = #{categoryId}
          and a.status = #{status}
    </select>


</mapper>
