<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.blog.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.blog.model.entity.Article">
        <id column="id" property="id"/>
        <result column="disallow_comment" property="disallowComment"/>
        <result column="meta_description" property="metaDescription"/>
        <result column="meta_keywords" property="metaKeywords"/>
        <result column="slug" property="slug"/>
        <result column="status" property="status"/>
        <result column="summary" property="summary"/>
        <result column="thumbnail" property="thumbnail"/>
        <result column="title" property="title"/>
        <result column="top_priority" property="topPriority"/>
        <result column="visits" property="visits"/>
        <result column="word_count" property="wordCount"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , disallow_comment, meta_description, meta_keywords, slug, status, summary, thumbnail, title, top_priority, visits, word_count, create_time, update_time
    </sql>
    <sql id="Base_Column_List_Plus">
        p
        .
        id
        , p.disallow_comment, p.meta_description, p.meta_keywords, p.slug, p.status, p.summary, p.thumbnail, p.title, p.top_priority, p.visits, p.word_count, p.create_time, p.update_time
    </sql>

    <select id="selectCountVisits" resultType="java.lang.Long">
        select ifnull(sum(p.visits), 0)
        from article p
    </select>

    <select id="selectPagePosts" resultType="com.qinweizhao.blog.model.entity.Article">
        select
        <include refid="Base_Column_List_Plus"/>
        from article p
        <if test="param.categoryId != null and param.categoryId != ''">
            left join post_category pc ON p.id = pc.post_id
        </if>
        <if test="param.tagId != null and param.tagId != ''">
            left join post_tag pt ON p.id = pt.post_id
        </if>
        <where>
            <if test="param.status != null">
                and p.status = #{param.status}
            </if>
            <if test="param.excludeStatus != null and param.excludeStatus != ''">
                and p.status != #{param.excludeStatus}
            </if>
            <if test="param.keyword != null and param.keyword != ''">
                and CONCAT(p.title,p.slug,p.summary) like concat('%', #{param.keyword}, '%')
            </if>
            <if test="param.categoryId != null and param.categoryId != ''">
                and pc.category_id = #{param.categoryId}
            </if>
            <if test="param.tagId != null and param.tagId != ''">
                and pt.tag_id = #{param.tagId}
            </if>
        </where>
        order by p.top_priority desc , p.create_time desc
    </select>

    <select id="selectPageSimplePosts" resultType="com.qinweizhao.blog.model.entity.Article">
        select
        <include refid="Base_Column_List"/>
        from article
        <where>
            <if test="param.status != null and param.status != ''">
                and status = #{param.status}
            </if>
            <if test="param.keyword != null and param.keyword != ''">
                and CONCAT(title,slug,summary) like concat('%', #{param.keyword}, '%')
            </if>
        </where>
        order by top_priority desc , create_time desc
    </select>

    <select id="selectStatusById" resultType="com.qinweizhao.blog.model.enums.ArticleStatus">
        select status
        from article
        where id = #{id}
    </select>

    <select id="selectNextIdByIdAndStatus" resultType="java.lang.Integer">
        select max(id)
        from article
        where id &lt; #{articleId}
          and status = #{status}
    </select>

    <select id="selectPrevIdByIdAndStatus" resultType="java.lang.Integer">
        select min(id)
        from article
        where id &gt; #{articleId}
          and status = #{status}
    </select>

    <select id="selectIdBySlug" resultType="java.lang.Integer">
        select id
        from article
        where slug = #{slug} limit 1
    </select>


</mapper>
