<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.blog.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.blog.model.entity.Article">
        <id column="id" property="id"/>
        <result column="disallow_comment" property="disallowComment"/>
        <result column="meta_descriation" property="metaDescription"/>
        <result column="meta_keywords" property="metaKeywords"/>
        <result column="slug" property="slug"/>
        <result column="status" property="status"/>
        <result column="summary" property="summary"/>
        <result column="thumbnail" property="thumbnail"/>
        <result column="title" property="title"/>
        <result column="top_priority" property="topPriority"/>
        <result column="visits" property="visits"/>
        <result column="word_count" property="wordCount"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , disallow_comment, meta_description, meta_keywords, slug, status, summary, thumbnail, title, top_priority, visits, word_count, create_time, update_time
    </sql>
    <sql id="Base_Column_List_Plus">
        a.id
        , a.disallow_comment, a.meta_description, a.meta_keywords, a.slug, a.status, a.summary, a.thumbnail, a.title, a.top_priority, a.visits, a.word_count, a.create_time, a.update_time
    </sql>

    <select id="selectCountVisits" resultType="java.lang.Long">
        select ifnull(sum(a.visits), 0)
        from article a
    </select>

    <select id="selectPagePosts" resultType="com.qinweizhao.blog.model.entity.Article">
        select
        <include refid="Base_Column_List_Plus"/>
        from article a
        <if test="param.categoryId != null and param.categoryId != ''">
            left join article_category ac ON a.id = ac.article_id
        </if>
        <if test="param.tagId != null and param.tagId != ''">
            left join article_tag at ON a.id = at.article_id
        </if>
        <where>
            <if test="param.status != null">
                and a.status = #{param.status}
            </if>
            <if test="param.excludeStatus != null and param.excludeStatus != ''">
                and a.status != #{param.excludeStatus}
            </if>
            <if test="param.keyword != null and param.keyword != ''">
                and CONCAT(a.title,a.slug,a.summary) like concat('%', #{param.keyword}, '%')
            </if>
            <if test="param.categoryId != null and param.categoryId != ''">
                and ac.category_id = #{param.categoryId}
            </if>
            <if test="param.tagId != null and param.tagId != ''">
                and at.tag_id = #{param.tagId}
            </if>
        </where>
        order by a.top_priority desc , a.create_time desc
    </select>

    <select id="selectPageSimplePosts" resultType="com.qinweizhao.blog.model.entity.Article">
        select
        <include refid="Base_Column_List"/>
        from article
        <where>
            <if test="param.status != null and param.status != ''">
                and status = #{param.status}
            </if>
            <if test="param.keyword != null and param.keyword != ''">
                and CONCAT(title,slug,summary) like concat('%', #{param.keyword}, '%')
            </if>
        </where>
        order by top_priority desc , create_time desc
    </select>

    <select id="selectStatusById" resultType="com.qinweizhao.blog.model.enums.ArticleStatus">
        select status
        from article
        where id = #{id}
    </select>

    <select id="selectNextIdByIdAndStatus" resultType="java.lang.Integer">
        select max(id)
        from article
        where id &lt; #{articleId}
          and status = #{status}
    </select>

    <select id="selectPrevIdByIdAndStatus" resultType="java.lang.Integer">
        select min(id)
        from article
        where id &gt; #{articleId}
          and status = #{status}
    </select>

    <select id="selectIdBySlug" resultType="java.lang.Integer">
        select id
        from article
        where slug = #{slug} limit 1
    </select>


</mapper>
