<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.blog.mapper.ArticleTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.blog.model.entity.ArticleTag">
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="tag_id" property="tagId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , article_id, tag_id, create_time, update_time
    </sql>

    <select id="selectPostCount" resultType="com.qinweizhao.blog.model.projection.TagPostPostCountProjection">
        select count(at.article_id) as post_count, at.tag_id
        from article_tag at
        group by at.tag_id
    </select>

    <select id="selectTagIdsByarticleId" resultType="java.lang.Integer">
        select at.tag_id
        from article_tag at
        where at.article_id = #{articleId}
    </select>

    <select id="selectsetArticleIdByTagIdAndPostStatus" resultType="java.lang.Integer">
        select at.article_id
        from article_tag at
                 left join
             article a
             on at.article_id = a.id
        where at.tag_id = #{tagId}
          and a.status = #{status}
    </select>

</mapper>
