<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.blog.mapper.AttachmentMapper">

    <select id="selectListMediaType" resultType="java.lang.String">
        select distinct a.mediaType
        from Attachment a
    </select>

    <select id="selectListType" resultType="com.qinweizhao.blog.model.enums.AttachmentType">
        select distinct a.type from Attachment a
    </select>
</mapper>