<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.blog.mapper.MenuMapper">

    <select id="selectListTeam" resultType="java.lang.String">
        select distinct a.team
        from Menu a
    </select>
</mapper>