<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.blog.mapper.MetaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.blog.model.entity.Meta">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="meta_key" property="metaKey"/>
        <result column="post_id" property="postId"/>
        <result column="meta_value" property="metaValue"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        type
        , id, create_time, update_time, meta_key, post_id, meta_value
    </sql>

</mapper>
