<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.blog.mapper.PhotoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.blog.model.entity.Photo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="description" property="description" />
        <result column="location" property="location" />
        <result column="name" property="name" />
        <result column="take_time" property="takeTime" />
        <result column="team" property="team" />
        <result column="thumbnail" property="thumbnail" />
        <result column="url" property="url" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, description, location, name, take_time, team, thumbnail, url
    </sql>

    <select id="selectListTeam" resultType="java.lang.String">
        select distinct p.team
        from Photo p
    </select>

</mapper>
