<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.blog.mapper.PostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.blog.model.entity.Post">
        <id column="id" property="id"/>
        <result column="disallow_comment" property="disallowComment"/>
        <result column="likes" property="likes"/>
        <result column="meta_description" property="metaDescription"/>
        <result column="meta_keywords" property="metaKeywords"/>
        <result column="slug" property="slug"/>
        <result column="status" property="status"/>
        <result column="summary" property="summary"/>
        <result column="thumbnail" property="thumbnail"/>
        <result column="title" property="title"/>
        <result column="top_priority" property="topPriority"/>
        <result column="visits" property="likes"/>
        <result column="word_count" property="wordCount"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , disallow_comment, likes, meta_description, meta_keywords, slug, status, summary, thumbnail, title, top_priority, visits, word_count, create_time, update_time
    </sql>
    <sql id="Base_Column_List_Plus">
        p
        .
        id
        , p.disallow_comment, p.likes, p.meta_description, p.meta_keywords, p.slug, p.status, p.summary, p.thumbnail, p.title, p.top_priority, p.visits, p.word_count, p.create_time, p.update_time
    </sql>


    <select id="selectByTimeAndSlug" resultType="com.qinweizhao.blog.model.entity.Post">
        select
        <include refid="Base_Column_List"/>
        from Post p
        where
        <if test="year != null and year != ''">
            and p.year (p.createTime) = #{year}
        </if>

        <if test="month != null and month != ''">
            and p.month (p.createTime) = #{month}
        </if>

        <if test="day != null and day != ''">
            and p.day (p.createTime) = #{day}
        </if>

        <if test="slug != null and slug != ''">
            and p.slug = #{slug}
        </if>

        <if test="status != null and status != ''">
            and p.status = #{status}
        </if>
    </select>


    <select id="selectCountVisits" resultType="java.lang.Long">
        select sum(p.visits)
        from post p
    </select>

    <select id="selectCountLikes" resultType="java.lang.Long">
        select sum(p.likes)
        from post p
    </select>


    <select id="selectPagePosts" resultType="com.qinweizhao.blog.model.entity.Post">
        select
        <include refid="Base_Column_List_Plus"/>
        from post p
        <if test="param.categoryId != null and param.categoryId != ''">
            left join post_category pc ON p.id = pc.post_id
        </if>
        <if test="param.tagId != null and param.tagId != ''">
            left join post_tag pt ON p.id = pt.post_id
        </if>
        <where>
            <if test="param.status != null and param.status != ''">
                and p.status = #{param.status}
            </if>
            <if test="param.keyword != null and param.keyword != ''">
                and p.title like concat('%', #{param.keyword}, '%')
            </if>
            <if test="param.categoryId != null and param.categoryId != ''">
                and pc.category_id = #{param.categoryId}
            </if>
            <if test="param.tagId != null and param.tagId != ''">
                and pt.tag_id = #{param.tagId}
            </if>
        </where>
        order by p.create_time desc
    </select>

    <select id="selectPageSimplePosts" resultType="com.qinweizhao.blog.model.entity.Post">
        select
        <include refid="Base_Column_List"/>
        from post
        <where>
            <if test="param.status != null and param.status != ''">
                and status = #{param.status}
            </if>
            <if test="param.keyword != null and param.keyword != ''">
                and CONCAT(title,slug,summary) like concat('%', #{param.keyword}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectExistsBySlug" resultType="java.lang.Boolean">
        select count(0)
        from post
        where slug = #{slug} limit 1
    </select>

    <select id="selectExistsByIdNotAndSlug" resultType="java.lang.Boolean">
        select count(1)
        from post
        where slug = #{slug}
          and id = #{id} limit 1
    </select>

    <select id="selectStatusById" resultType="com.qinweizhao.blog.model.enums.PostStatus">
        select status
        from post
        where id = #{id}
    </select>

    <select id="selectNextIdByIdAndStatus" resultType="java.lang.Integer">
        select max(id)
        from post
        where id &lt; #{postId}
          and status = #{status}
    </select>

    <select id="selectPrevIdByIdAndStatus" resultType="java.lang.Integer">
        select min(id)
        from post
        where id &gt; #{postId}
          and status = #{status}
    </select>


</mapper>
