<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qinweizhao.blog.mapper.PostCommentMapper">

    <select id="selectCountByPostIds" resultType="com.qinweizhao.blog.model.projection.CommentCountProjection">
        select count(comment.id) as count, comment.postId
        from PostComment comment
        where comment.postId in
        <foreach collection="postIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        group by comment.postId
    </select>

    <select id="selectCountDirectChildren"
            resultType="com.qinweizhao.blog.model.projection.CommentChildrenCountProjection">
        select count(comment.id) as count, comment.postId
        from PostComment comment
        where comment.parentId in
        <foreach collection="commentIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        group by comment.parentId
    </select>
</mapper>